wget~=3.2
nemo_toolkit[asr]==2.0.0rc0
nltk~=3.9.1
faster-whisper>=1.1.0
demucs
torch~=2.7.0
torchaudio~=2.7.0
omegaconf~=2.3.0
pydub~=0.25.1
deepfilternet
git+https://github.com/oliverguhr/deepmultilingualpunctuation.git
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git